{% import "macros.jinja2" as macros %}

<h5>Camera Streamer Control</h5>

<p>
    This plugin enables some configuration of the extra features that come with OctoPi's
    <a href="https://github.com/ayufan/camera-streamer" target="_blank" rel="noreferrer">camera-streamer</a>
    implementation, beyond the classic MJPG stream.
</p>

{# Check for OctoPi installation of camera-streamer #}
{% if not plugin_camerastreamer_control_installed %}
<div class="alert alert-block alert-warning">
    <p>
        <strong>It looks like camera-streamer is not installed</strong>
        <br/>
        This plugin might not work on your install.
    </p>
</div>
{% endif %}

{# Check if Classic Webcam still enabled #}
{% if plugin_camerastreamer_control_classicam_enabled %}
<div class="alert alert-block alert-warning">
    <p>
        <strong>It looks like Classic Webcam is still enabled</strong>
        <br/>
        You probably don't need this enabled any more and can disable it in the plugin manager.
    </p>
</div>
{% endif %}

<h5>Stream Options</h5>

<div class="form-horizontal" onsubmit="return false">
    <div class="control-group">
        <label class="control-label" for="{{ macros.id("mode") }}">Preferred Video Mode</label>
        <div class="controls">
            <select id="{{ macros.id("mode") }}" data-bind="value: {{ macros.settings_binding("mode") }}">
                <option value="mjpg">MJPG</option>
                <option value="webrtc">WebRTC (experimental)</option>
                {# TODO implement these options I guess #}
                {# <option value="mp4">MP4</option>
                <option value="mkv">MKV</option>
                <option value="hls">HLS</option> #}
            </select>
            <em class="help-block" data-bind="visible: {{ macros.settings_binding("mode") }}() !== 'mjpg'">
                If the preferred video mode fails to connect, it will fall back to MJPG mode.
            </em>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ macros.id("url") }}">Webcam URL</label>
        <div class="controls">
            <input type="text" id="{{ macros.id("url") }}" data-bind="value: {{ macros.settings_binding("url") }}" />
            <em class="help-block">You should not normally have to change this</em>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox" for="{{ macros.id("flipH") }}">
                <input type="checkbox" id="{{ macros.id("flipH") }}" data-bind="checked: {{ macros.settings_binding("flipH") }}" /> Flip Horizontally
            </label>
        </div>
        <div class="controls">
            <label class="checkbox" for="{{ macros.id("flipV") }}">
                <input type="checkbox" id="{{ macros.id("flipV") }}" data-bind="checked: {{ macros.settings_binding("flipV") }}" /> Flip Vertically
            </label>
        </div>
        <div class="controls">
            <label class="checkbox" for="{{ macros.id("rotate90") }}">
                <input type="checkbox" id="{{ macros.id("rotate90") }}" data-bind="checked: {{ macros.settings_binding("rotate90") }}" /> Rotate 90 degrees counter clockwise
            </label>
            <em class="help-block" data-bind="visible: {{ macros.settings_binding("flipH") }}() || {{ macros.settings_binding("flipV") }}() || {{ macros.settings_binding("rotate90") }}()">
                <i class="fas fa-triangle-exclamation text-warning"></i> Flip & rotate options don't work with picture-in-picture or full screen viewing.
            </em>
        </div>

    </div>
    <div class="control-group">
        <label class="control-label" for="{{ macros.id("timeout") }}">Stream Timeout</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" class="input-mini text-right" id="{{ macros.id("timeout") }}" data-bind="value: {{ macros.settings_binding("timeout") }}" />
                <span class="add-on">sec</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ macros.id("snapshot-timeout") }}">Snapshot Timeout</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" class="input-mini text-right" id="{{ macros.id("snapshot-timeout") }}" data-bind="value: {{ macros.settings_binding("snapshot.timeout") }}" />
                <span class="add-on">sec</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ macros.id("mjpg-url") }}">MJPG Video URL</label>
        <div class="controls">
            <input type="text" id="{{ macros.id("mjpg-url") }}" data-bind="value: {{ macros.settings_binding("mjpg.url") }}" />
            <div class="help-block">
                <p><em>Extension to the webcam URL above to use for the MJPG video stream</em></p>
                <p><em>You should not normally have to change this</em></p>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ macros.id("webrtc-url") }}">WebRTC Video URL</label>
        <div class="controls">
            <input type="text" id="{{ macros.id("webrtc-url") }}" data-bind="value: {{ macros.settings_binding("webrtc.url") }}" />
            <div class="help-block">
                <p><em>Extension to the webcam URL above to use for the WebRTC video stream</em></p>
                <p><em>You should not normally have to change this</em></p>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ macros.id("snapshot-url") }}">Snapshot URL</label>
        <div class="controls">
            <input type="text" id="{{ macros.id("snapshot-url") }}" data-bind="value: {{ macros.settings_binding("snapshot.url") }}" />
            <div class="help-block">
                <p><em>Extension to the webcam URL above to use for snapshot capture</em></p>
                <p><em>You should not normally have to change this</em></p>
            </div>
        </div>
    </div>
</div>

{# TODO extra messages about mp4/mkv/hls not working in all browsers #}
