{% import "macros.jinja2" as macros %}

<div id="{{ macros.id("webrtc_container") }}" data-bind="class: webcamClass">
    <video id="{{ macros.id("webrtc_video") }}" muted autoplay playsinline controls {# TODO controls? doesn't work with rotation iirc #}></video>
</div>
