include README.md
recursive-include octoprint_camerastreamer_control/templates *
recursive-include octoprint_camerastreamer_control/translations *
recursive-include octoprint_camerastreamer_control/static *
